In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
import pandas as pd
pd.set_option('display.max_columns', 50000)
import numpy as np
import csv
import json
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import normalize
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import sklearn
import datetime, os

In [50]:
df = pd.read_csv("./drive/MyDrive/dataset/train.csv")
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,?,Wi-Fi,16:08:02,17,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,16,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,14,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,11,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,20,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [51]:
df.describe()

,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn_risk_score
count,36992.000000,36992.000000,36992.000000,36992.000000,33549.000000,36992.000000
mean,37.118161,-41.915576,243.472334,29271.194003,686.882199,3.463397
std,15.867412,228.819900,398.289149,19444.806226,194.063624,1.409661
min,10.000000,-999.000000,-2814.109110,800.460000,-760.661236,-1.000000
25%,23.000000,8.000000,60.102500,14177.540000,616.150000,3.000000
50%,37.000000,12.000000,161.765000,27554.485000,697.620000,4.000000
75%,51.000000,16.000000,356.515000,40855.110000,763.950000,5.000000
max,64.000000,26.000000,3235.578521,99914.050000,2069.069761,5.000000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               31564 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  object
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36704 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  object
 18  points_in_wallet              33549 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  complaint_status              36992 non-null  object
 23  feedback                      36992 non-null  object
 24  churn_risk_score              36992 non-null  int64
dtypes: float64(3), int64(3), object(19)
memory usage: 7.1+ MB

In [53]:
def valueCounts(df):
    print(df["gender"].value_counts())
    print("-"*50)
    print(df["region_category"].value_counts())
    print("-"*50)
    print(df["membership_category"].value_counts())
    print("-"*50)
    print(df["joined_through_referral"].value_counts())
    print("-"*50)
    print(df["preferred_offer_types"].value_counts())
    print("-"*50)
    print(df["medium_of_operation"].value_counts())
    print("-"*50)
    print(df["internet_option"].value_counts())
    print("-"*50)
    print(df["used_special_discount"].value_counts())
    print("-"*50)
    print(df["offer_application_preference"].value_counts())
    print("-"*50)
    print(df["past_complaint"].value_counts())
    print("-"*50)
    print(df["complaint_status"].value_counts())
    print("-"*50)
    print(df["feedback"].value_counts())
    print("-"*50)
    print(df["avg_frequency_login_days"].value_counts())
    print("-"*50)
    print(df["churn_risk_score"].value_counts())
    print("-"*50)
    
valueCounts(df)

F          18490
M          18443
Unknown       59
Name: gender, dtype: int64
--------------------------------------------------
Town       14128
City       12737
Village     4699
Name: region_category, dtype: int64
--------------------------------------------------
Basic Membership       7724
No Membership          7692
Gold Membership        6795
Silver Membership      5988
Premium Membership     4455
Platinum Membership    4338
Name: membership_category, dtype: int64
--------------------------------------------------
No     15839
Yes    15715
?       5438
Name: joined_through_referral, dtype: int64
--------------------------------------------------
Gift Vouchers/Coupons       12349
Credit/Debit Card Offers    12274
Without Offers              12081
Name: preferred_offer_types, dtype: int64
--------------------------------------------------
Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: medium_of_operation, dtype: int64
--------------------------------------------------
Wi-Fi          12413
Mobile_Data    12343
Fiber_Optic    12236
Name: internet_option, dtype: int64
--------------------------------------------------
Yes    20342
No     16650
Name: used_special_discount, dtype: int64
--------------------------------------------------
Yes    20440
No     16552
Name: offer_application_preference, dtype: int64
--------------------------------------------------
No     18602
Yes    18390
Name: past_complaint, dtype: int64
--------------------------------------------------
Not Applicable              18602
Unsolved                     4644
Solved                       4619
Solved in Follow-up          4577
No Information Available     4550
Name: complaint_status, dtype: int64
--------------------------------------------------
Poor Product Quality        6350
No reason specified         6290
Too many ads                6279
Poor Website                6271
Poor Customer Service       6252
Reasonable Price            1417
User Friendly Website       1391
Products always in Stock    1382
Quality Customer Care       1360
Name: feedback, dtype: int64
--------------------------------------------------
Error                  3522
13.0                   1394
19.0                   1365
8.0                    1361
14.0                   1355
                       ...
-18.461323191094202       1
40.60196525026183         1
-11.291393510762461       1
-9.953600217853655        1
-6.9611034041953275       1
Name: avg_frequency_login_days, Length: 1654, dtype: int64
--------------------------------------------------
 3    10424
 4    10185
 5     9827
 2     2741
 1     2652
-1     1163
Name: churn_risk_score, dtype: int64
--------------------------------------------------

In [54]:
df.isnull().values.any()

True

In [55]:
df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [56]:
# setting target wrong value -1 to 1 assuming sign issue, 
df['churn_risk_score'] = df['churn_risk_score'].apply(lambda x:1 if x == -1 else x)
df['churn_risk_score'] = df['churn_risk_score'].apply(lambda x:x-1)

In [57]:
def handleMissingValues(df):
    
    df['joining_date']  = pd.to_datetime(df['joining_date'],format="%Y-%m-%d")
    
    
    # replacing Unknown words with most occured in df for gender column
    df['gender'] = df['gender'].replace(['Unknown'], df["gender"].mode()[0])
    df['joined_through_referral'] = df['joined_through_referral'].replace(['?'], df["joined_through_referral"].mode()[0])
    df['avg_frequency_login_days'] = df['avg_frequency_login_days'].replace(['Error'], None)
    
    
    df["region_category"] = df["region_category"].fillna(df["region_category"].mode()[0])
    df["preferred_offer_types"] = df["preferred_offer_types"].fillna(df["preferred_offer_types"].mode()[0])
    df["points_in_wallet"] = df["points_in_wallet"].fillna(df["points_in_wallet"].median())
    df["avg_frequency_login_days"] = df["avg_frequency_login_days"].fillna(df["avg_frequency_login_days"].median())
    
    
    df["avg_frequency_login_days"] = pd.to_numeric(df["avg_frequency_login_days"])
    
    return df

df = handleMissingValues(df)
df.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [58]:
valueCounts(df)

F    18549
M    18443
Name: gender, dtype: int64
--------------------------------------------------
Town       19556
City       12737
Village     4699
Name: region_category, dtype: int64
--------------------------------------------------
Basic Membership       7724
No Membership          7692
Gold Membership        6795
Silver Membership      5988
Premium Membership     4455
Platinum Membership    4338
Name: membership_category, dtype: int64
--------------------------------------------------
No     21277
Yes    15715
Name: joined_through_referral, dtype: int64
--------------------------------------------------
Gift Vouchers/Coupons       12637
Credit/Debit Card Offers    12274
Without Offers              12081
Name: preferred_offer_types, dtype: int64
--------------------------------------------------
Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: medium_of_operation, dtype: int64
--------------------------------------------------
Wi-Fi          12413
Mobile_Data    12343
Fiber_Optic    12236
Name: internet_option, dtype: int64
--------------------------------------------------
Yes    20342
No     16650
Name: used_special_discount, dtype: int64
--------------------------------------------------
Yes    20440
No     16552
Name: offer_application_preference, dtype: int64
--------------------------------------------------
No     18602
Yes    18390
Name: past_complaint, dtype: int64
--------------------------------------------------
Not Applicable              18602
Unsolved                     4644
Solved                       4619
Solved in Follow-up          4577
No Information Available     4550
Name: complaint_status, dtype: int64
--------------------------------------------------
Poor Product Quality        6350
No reason specified         6290
Too many ads                6279
Poor Website                6271
Poor Customer Service       6252
Reasonable Price            1417
User Friendly Website       1391
Products always in Stock    1382
Quality Customer Care       1360
Name: feedback, dtype: int64
--------------------------------------------------
 13.000000    1553
 19.000000    1517
 8.000000     1511
 17.000000    1484
 10.000000    1479
              ...
-4.202424        1
-20.369214       1
-9.016175        1
-2.520089        1
-0.520774        1
Name: avg_frequency_login_days, Length: 1653, dtype: int64
--------------------------------------------------
2    10424
3    10185
4     9827
0     3815
1     2741
Name: churn_risk_score, dtype: int64
--------------------------------------------------

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customer_id                   36992 non-null  object
 1   Name                          36992 non-null  object
 2   age                           36992 non-null  int64
 3   gender                        36992 non-null  object
 4   security_no                   36992 non-null  object
 5   region_category               36992 non-null  object
 6   membership_category           36992 non-null  object
 7   joining_date                  36992 non-null  datetime64[ns]
 8   joined_through_referral       36992 non-null  object
 9   referral_id                   36992 non-null  object
 10  preferred_offer_types         36992 non-null  object
 11  medium_of_operation           36992 non-null  object
 12  internet_option               36992 non-null  object
 13  last_visit_time               36992 non-null  object
 14  days_since_last_login         36992 non-null  int64
 15  avg_time_spent                36992 non-null  float64
 16  avg_transaction_value         36992 non-null  float64
 17  avg_frequency_login_days      36992 non-null  float64
 18  points_in_wallet              36992 non-null  float64
 19  used_special_discount         36992 non-null  object
 20  offer_application_preference  36992 non-null  object
 21  past_complaint                36992 non-null  object
 22  complaint_status              36992 non-null  object
 23  feedback                      36992 non-null  object
 24  churn_risk_score              36992 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(17)
memory usage: 7.1+ MB

In [60]:
def handleExtraFeatures(df):

    from datetime import date
    df['todays_date'] = date.today().strftime("%Y-%m-%d")
    df['todays_date']  = pd.to_datetime(df['todays_date'],format="%Y-%m-%d")
    

    df['customer_days'] = df['todays_date'] - df['joining_date'] 
    df['customer_days'] = df['customer_days'] / np.timedelta64(1,'D')

    return df
df = handleExtraFeatures(df)
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,todays_date,customer_days
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,Gift Vouchers/Coupons,?,Wi-Fi,16:08:02,17,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,1,2021-03-28,1319.0
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,No,CID21329,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,16,306.34,12838.38,10.0,697.62,Yes,No,Yes,Solved,Quality Customer Care,0,2021-03-28,1308.0
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,14,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,4,2021-03-28,1598.0
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,11,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,4,2021-03-28,1611.0
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,20,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,4,2021-03-28,1293.0

In [61]:
def labelEncoding(df, onlyTransform: False, label_object = {}):
    categorical_columns = [
        'gender',
        'joined_through_referral',
        'used_special_discount',
        'offer_application_preference',
        'past_complaint'
    ]
    for col in categorical_columns:
        if col in df.columns:
            labelencoder = None
            if onlyTransform is False:
                labelencoder = LabelEncoder()
                labelencoder.fit(df[col])
                label_object[col] = labelencoder
            else:
                labelencoder = label_object[col]

            df[col] = labelencoder.transform(df[col])
    return df, label_object

df, label_object = labelEncoding(df, onlyTransform= False, label_object= {})
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,todays_date,customer_days
0,fffe4300490044003600300030003800,Pattie Morrisey,18,0,XW0DQ7H,Village,Platinum Membership,2017-08-17,0,xxxxxxxx,Gift Vouchers/Coupons,?,Wi-Fi,16:08:02,17,300.63,53005.25,17.0,781.75,1,1,0,Not Applicable,Products always in Stock,1,2021-03-28,1319.0
1,fffe43004900440032003100300035003700,Traci Peery,32,0,5K0N3X1,City,Premium Membership,2017-08-28,0,CID21329,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,16,306.34,12838.38,10.0,697.62,1,0,1,Solved,Quality Customer Care,0,2021-03-28,1308.0
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,0,1F2TCL3,Town,No Membership,2016-11-11,1,CID12313,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,14,516.16,21027.00,22.0,500.69,0,1,1,Solved in Follow-up,Poor Website,4,2021-03-28,1598.0
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,1,VJGJ33N,City,No Membership,2016-10-29,1,CID3793,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,11,53.27,25239.56,6.0,567.66,0,1,1,Unsolved,Poor Website,4,2021-03-28,1611.0
4,fffe43004900440031003900350030003600,Meghan Kosak,31,0,SVZXCWB,City,No Membership,2017-09-12,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,20,113.13,24483.66,16.0,663.06,0,1,1,Solved,Poor Website,4,2021-03-28,1293.0

In [62]:
def encodeMembership(df):
    
    cleanup_nums = {
                    "membership_category":{
                        "No Membership":0,
                        "Basic Membership":1,
                        "Gold Membership":2,
                        "Silver Membership":3,
                        "Premium Membership":4,
                        "Platinum Membership":5
                    }
                   }
    
    df = df.replace(cleanup_nums)
    
    return df

df = encodeMembership(df)
df.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,todays_date,customer_days
0,fffe4300490044003600300030003800,Pattie Morrisey,18,0,XW0DQ7H,Village,5,2017-08-17,0,xxxxxxxx,Gift Vouchers/Coupons,?,Wi-Fi,16:08:02,17,300.63,53005.25,17.0,781.75,1,1,0,Not Applicable,Products always in Stock,1,2021-03-28,1319.0
1,fffe43004900440032003100300035003700,Traci Peery,32,0,5K0N3X1,City,4,2017-08-28,0,CID21329,Gift Vouchers/Coupons,Desktop,Mobile_Data,12:38:13,16,306.34,12838.38,10.0,697.62,1,0,1,Solved,Quality Customer Care,0,2021-03-28,1308.0
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,0,1F2TCL3,Town,0,2016-11-11,1,CID12313,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,14,516.16,21027.00,22.0,500.69,0,1,1,Solved in Follow-up,Poor Website,4,2021-03-28,1598.0
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,1,VJGJ33N,City,0,2016-10-29,1,CID3793,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,11,53.27,25239.56,6.0,567.66,0,1,1,Unsolved,Poor Website,4,2021-03-28,1611.0
4,fffe43004900440031003900350030003600,Meghan Kosak,31,0,SVZXCWB,City,0,2017-09-12,0,xxxxxxxx,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,20,113.13,24483.66,16.0,663.06,0,1,1,Solved,Poor Website,4,2021-03-28,1293.0

In [63]:
def oneHotEncoding(df, onlyTransform=False, one_hot_object = {}):
    categorical_columns = [
        'region_category',
        'preferred_offer_types',
        'medium_of_operation',
        'internet_option',
        'complaint_status',
        'feedback'
    ]
    for col in categorical_columns:
        
        col_data  = df[col].values.reshape(-1,1)
        
        if onlyTransform is False:
            onehot_encoder = OneHotEncoder()
            onehot_encoder = onehot_encoder.fit(col_data)
            one_hot_object[col] = onehot_encoder
        
        onehot_encoded = one_hot_object[col].transform(col_data).toarray()
        columns_list = []
        for i in range(onehot_encoded.shape[1]):
            columns_list.append(col+"_"+str(int(i)))
        dfOneHot = pd.DataFrame(onehot_encoded, columns = columns_list) 
        df = pd.concat([df, dfOneHot], axis=1)
        

    df = df.drop(categorical_columns,axis=1)
    return df, one_hot_object


df, one_hot_object = oneHotEncoding(df, onlyTransform=False, one_hot_object = {})
df.head()

,customer_id,Name,age,gender,security_no,membership_category,joining_date,joined_through_referral,referral_id,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,churn_risk_score,todays_date,customer_days,region_category_0,region_category_1,region_category_2,preferred_offer_types_0,preferred_offer_types_1,preferred_offer_types_2,medium_of_operation_0,medium_of_operation_1,medium_of_operation_2,medium_of_operation_3,internet_option_0,internet_option_1,internet_option_2,complaint_status_0,complaint_status_1,complaint_status_2,complaint_status_3,complaint_status_4,feedback_0,feedback_1,feedback_2,feedback_3,feedback_4,feedback_5,feedback_6,feedback_7,feedback_8
0,fffe4300490044003600300030003800,Pattie Morrisey,18,0,XW0DQ7H,5,2017-08-17,0,xxxxxxxx,16:08:02,17,300.63,53005.25,17.0,781.75,1,1,0,1,2021-03-28,1319.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,fffe43004900440032003100300035003700,Traci Peery,32,0,5K0N3X1,4,2017-08-28,0,CID21329,12:38:13,16,306.34,12838.38,10.0,697.62,1,0,1,0,2021-03-28,1308.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,0,1F2TCL3,0,2016-11-11,1,CID12313,22:53:21,14,516.16,21027.00,22.0,500.69,0,1,1,4,2021-03-28,1598.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,1,VJGJ33N,0,2016-10-29,1,CID3793,15:57:50,11,53.27,25239.56,6.0,567.66,0,1,1,4,2021-03-28,1611.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,fffe43004900440031003900350030003600,Meghan Kosak,31,0,SVZXCWB,0,2017-09-12,0,xxxxxxxx,15:46:44,20,113.13,24483.66,16.0,663.06,0,1,1,4,2021-03-28,1293.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [64]:
def removeRedundantColumns(df):
    
    redundant_columns = ['customer_id','Name','security_no','joining_date','referral_id','last_visit_time','todays_date']

    df = df.drop(redundant_columns,axis=1)
    
    return df

df = removeRedundantColumns(df)
df.head()

,age,gender,membership_category,joined_through_referral,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,churn_risk_score,customer_days,region_category_0,region_category_1,region_category_2,preferred_offer_types_0,preferred_offer_types_1,preferred_offer_types_2,medium_of_operation_0,medium_of_operation_1,medium_of_operation_2,medium_of_operation_3,internet_option_0,internet_option_1,internet_option_2,complaint_status_0,complaint_status_1,complaint_status_2,complaint_status_3,complaint_status_4,feedback_0,feedback_1,feedback_2,feedback_3,feedback_4,feedback_5,feedback_6,feedback_7,feedback_8
0,18,0,5,0,17,300.63,53005.25,17.0,781.75,1,1,0,1,1319.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,32,0,4,0,16,306.34,12838.38,10.0,697.62,1,0,1,0,1308.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,44,0,0,1,14,516.16,21027.00,22.0,500.69,0,1,1,4,1598.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,37,1,0,1,11,53.27,25239.56,6.0,567.66,0,1,1,4,1611.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,31,0,0,0,20,113.13,24483.66,16.0,663.06,0,1,1,4,1293.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [65]:
df = df.sample(frac=1).reset_index(drop=True)

In [66]:
from keras.utils import np_utils
y = pd.DataFrame(df["churn_risk_score"])
df = df.drop("churn_risk_score", axis=1)

X = pd.DataFrame(df)
print(X.shape)
print(y.shape)

(36992, 40)
(36992, 1)

In [67]:
from imblearn.over_sampling import SMOTE
smote = SMOTE('minority')
X_sm,y_sm = smote.fit_resample(X=X,y=y)
print(X_sm.shape,y_sm.shape)

X = X_sm
y = y_sm

(44675, 40) (44675,)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify=y,shuffle=True)

X_train = X
y_train = y

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(44675, 40)
(44675,)
(8935, 40)
(8935,)

In [69]:

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

scalerX = StandardScaler()
# scalerX = RobustScaler()
# scalerX = MinMaxScaler()
scalerX = scalerX.fit(X_train)
X_train = scalerX.transform(X_train)
X_train = pd.DataFrame(X_train)

X_test = scalerX.transform(X_test)
X_test = pd.DataFrame(X_test)

In [70]:
from xgboost import XGBClassifier
model = XGBClassifier(base_score=0.5, booster='gbtree', clf__learning_rate=0.01,
              clf__max_depth=3, clf__n_estimators=250, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', clf__learning_rate=0.01,
              clf__max_depth=3, clf__n_estimators=250, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [71]:
# from xgboost import XGBClassifier
# from sklearn.model_selection import GridSearchCV

# xgb = XGBClassifier()

# search_space = [
#   {
#     'clf__n_estimators': [250, 500,1000],
#     'clf__learning_rate': [0.01,0.3, 0.5],
#     'clf__max_depth': range(3, 8),
#   }
# ]

# grid = GridSearchCV(
#     estimator=xgb,
#     param_grid=search_space,
#     verbose=4,
#     n_jobs=-1
# )

# model = grid.fit(X_train, y_train)

In [72]:
# grid.best_estimator_

In [73]:
prediction = model.predict(X_test)

In [74]:
y_label = y_test
predict_label = prediction

print(y_label)
print(predict_label)

[2 1 3 ... 3 4 1]
[2 1 3 ... 3 4 1]

In [75]:
from sklearn.metrics import accuracy_score as sk_accuracy_score
from sklearn.metrics import f1_score as sk_f1_score
from sklearn.metrics import precision_score as sk_precision_score
from sklearn.metrics import recall_score as sk_recall_score
from sklearn.metrics import confusion_matrix as sk_confusion_matrix

print("sk_accuracy_score :",100*sk_accuracy_score(y_label, predict_label))
print("sk_f1_score :",100*sk_f1_score(y_label, predict_label,average="macro"))
print("sk_precision_score :", 100*sk_precision_score(y_label, predict_label,average="macro"))
print("sk_recall_score :" ,100*sk_recall_score(y_label, predict_label,average="macro"))

sk_accuracy_score : 88.37157246782317
sk_f1_score : 86.64826466352518
sk_precision_score : 88.53620756606941
sk_recall_score : 85.79792457954755

In [76]:
df_test = pd.read_csv("./drive/MyDrive/dataset/test.csv")
df_test.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,Without Offers,Smartphone,Wi-Fi,07:19:30,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,Without Offers,Desktop,Fiber_Optic,22:21:16,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,Gift Vouchers/Coupons,Both,Mobile_Data,16:40:39,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,Credit/Debit Card Offers,?,Fiber_Optic,14:56:17,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,Without Offers,Smartphone,Mobile_Data,02:57:53,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website

In [77]:
df_test =  handleMissingValues(df_test)

In [78]:
df_test = handleExtraFeatures(df_test)

In [79]:
df_test, label_object = labelEncoding(df_test, onlyTransform= True, label_object= label_object)

In [80]:
df_test = encodeMembership(df_test)

In [81]:
df_test, one_hot_object = oneHotEncoding(df_test, onlyTransform=True, one_hot_object = one_hot_object)

In [82]:
df_test.head()

,customer_id,Name,age,gender,security_no,membership_category,joining_date,joined_through_referral,referral_id,last_visit_time,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,todays_date,customer_days,region_category_0,region_category_1,region_category_2,preferred_offer_types_0,preferred_offer_types_1,preferred_offer_types_2,medium_of_operation_0,medium_of_operation_1,medium_of_operation_2,medium_of_operation_3,internet_option_0,internet_option_1,internet_option_2,complaint_status_0,complaint_status_1,complaint_status_2,complaint_status_3,complaint_status_4,feedback_0,feedback_1,feedback_2,feedback_3,feedback_4,feedback_5,feedback_6,feedback_7,feedback_8
0,fffe43004900440031003700300030003400,Alethia Meints,50,0,OQJ1XAY,4,2015-11-02,0,xxxxxxxx,07:19:30,12,386.26,40721.44,7.0,733.830000,1,0,0,2021-03-28,1973.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,fffe43004900440031003900370037003300,Ming Lopez,41,1,OUQRPKO,2,2016-03-01,0,xxxxxxxx,22:21:16,11,37.80,9644.40,9.0,726.000000,1,0,0,2021-03-28,1853.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,fffe43004900440034003800360037003000,Carina Flannigan,31,0,02J2RE7,3,2017-03-03,0,xxxxxxxx,16:40:39,18,215.36,3693.25,21.0,713.780000,1,0,1,2021-03-28,1486.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,fffe43004900440036003200370033003400,Kyung Wanner,64,1,5YEQIF1,3,2017-08-18,1,CID8941,14:56:17,-999,44.57,36809.56,11.0,744.970000,1,0,1,2021-03-28,1318.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,fffe43004900440035003000370031003900,Enola Gatto,16,0,100RYB5,0,2015-05-05,1,CID5690,02:57:53,6,349.88,40675.86,8.0,299.048351,0,1,1,2021-03-28,2154.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [83]:
customer_ids = df_test["customer_id"]
customer_ids_df = pd.DataFrame(data = customer_ids,columns=["customer_id"])
df_test = removeRedundantColumns(df_test)
df_test.head()

,age,gender,membership_category,joined_through_referral,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,customer_days,region_category_0,region_category_1,region_category_2,preferred_offer_types_0,preferred_offer_types_1,preferred_offer_types_2,medium_of_operation_0,medium_of_operation_1,medium_of_operation_2,medium_of_operation_3,internet_option_0,internet_option_1,internet_option_2,complaint_status_0,complaint_status_1,complaint_status_2,complaint_status_3,complaint_status_4,feedback_0,feedback_1,feedback_2,feedback_3,feedback_4,feedback_5,feedback_6,feedback_7,feedback_8
0,50,0,4,0,12,386.26,40721.44,7.0,733.830000,1,0,0,1973.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41,1,2,0,11,37.80,9644.40,9.0,726.000000,1,0,0,1853.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,31,0,3,0,18,215.36,3693.25,21.0,713.780000,1,0,1,1486.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,64,1,3,1,-999,44.57,36809.56,11.0,744.970000,1,0,1,1318.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,16,0,0,1,6,349.88,40675.86,8.0,299.048351,0,1,1,2154.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [84]:
x_test_submit = scalerX.transform(df_test)
x_test_submit = pd.DataFrame(x_test_submit)
x_test_submit.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39
0,0.842922,-1.02554,0.998865,-0.857913,0.232736,0.359131,0.337132,-0.893625,0.208865,0.926124,-1.161612,-1.019110,0.781095,-0.736459,-1.087578,2.628549,-0.733424,-0.764810,1.529731,-0.420083,-0.351416,-0.814267,1.347724,-0.724902,-0.728073,1.448432,-0.383722,1.019110,-0.387892,-0.383543,-0.389893,-0.404804,-0.40338,2.456712,-0.404092,-0.305021,-0.310525,-0.307478,-0.404392,-0.308103
1,0.259310,1.03543,-0.225583,-0.857913,0.228232,-0.542380,-1.022910,-0.672039,0.164449,0.926124,-1.161612,-1.019110,0.399197,-0.736459,-1.087578,2.628549,-0.733424,-0.764810,1.529731,-0.420083,-0.351416,1.304013,-0.785056,1.464279,-0.728073,-0.732327,-0.383722,1.019110,-0.387892,-0.383543,-0.389893,-0.404804,-0.40338,-0.407048,2.474684,-0.305021,-0.310525,-0.307478,-0.404392,-0.308103
2,-0.389147,-1.02554,0.386641,-0.857913,0.259762,-0.083009,-1.283353,0.657480,0.095130,0.926124,-1.161612,1.043111,-0.768772,-0.736459,0.975309,-0.407758,-0.733424,1.391793,-0.686078,-0.420083,3.016169,-0.814267,-0.785056,-0.724902,1.457954,-0.732327,-0.383722,-1.043111,-0.387892,2.751855,-0.389893,2.470333,-0.40338,-0.407048,-0.404092,-0.305021,-0.310525,-0.307478,-0.404392,-0.308103
3,1.750762,1.03543,0.386641,1.228870,-4.321117,-0.524865,0.165935,-0.450452,0.272058,0.926124,-1.161612,1.043111,-1.303428,-0.736459,0.975309,-0.407758,1.451110,-0.764810,-0.686078,2.514342,-0.351416,-0.814267,-0.785056,1.464279,-0.728073,-0.732327,2.752049,-1.043111,-0.387892,-0.383543,-0.389893,-0.404804,-0.40338,-0.407048,-0.404092,-0.305021,-0.310525,-0.307478,2.472850,-0.308103
4,-1.361833,-1.02554,-1.450032,1.228870,0.205710,0.265011,0.335138,-0.782832,-2.257467,-1.143462,0.911895,1.043111,1.357123,-0.736459,0.975309,-0.407758,-0.733424,-0.764810,1.529731,-0.420083,-0.351416,-0.814267,1.347724,-0.724902,1.457954,-0.732327,-0.383722,-1.043111,-0.387892,2.751855,-0.389893,-0.404804,-0.40338,-0.407048,2.474684,-0.305021,-0.310525,-0.307478,-0.404392,-0.308103

In [85]:
prediction_submit = model.predict(x_test_submit)
predict_label = prediction_submit

print(predict_label)

[2 2 2 ... 4 3 2]

In [86]:
df_to_submit = pd.concat([customer_ids_df,pd.DataFrame(data = predict_label,columns=["churn_risk_score"])], axis=1)
df_to_submit['churn_risk_score'] = df_to_submit['churn_risk_score'].apply(lambda x:x+1)

In [87]:
df_to_submit.head()

                            customer_id  churn_risk_score
0  fffe43004900440031003700300030003400                 3
1  fffe43004900440031003900370037003300                 3
2  fffe43004900440034003800360037003000                 3
3  fffe43004900440036003200370033003400                 3
4  fffe43004900440035003000370031003900                 4

In [88]:
print(df_to_submit["churn_risk_score"].value_counts())
print("-"*50)

5    5986
3    5548
4    5362
1    1544
2    1479
Name: churn_risk_score, dtype: int64
--------------------------------------------------

In [89]:
df_to_submit.to_csv(path_or_buf="./drive/MyDrive/dataset/df_to_submit"+".csv",float_format='%.0f',index=False)